AuthUserFile /home/www/test.bmsbasket.dk/dommer/admin/.htpasswd
AuthGroupFile /dev/null
AuthName "Dommerbordsadministration"
AuthType Basic

<limit GET POST>
require valid-user
</limit>

#<Files logout.php>
#<Limit ALL>
#AuthUserFile /home/www/test.bmsbasket.dk/dommer/admin/.htpasswd
#require user fakeuser
#</Limit>
#</File>